.robotPerseverance {
  width: 90vw;
  border-radius: 30px 30px 0 0 ;
}

.robotContainer {
  background-image: url('./src/ciel-etoile.jpg');
  background-attachment: fixed;
  height: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.robotDescription {
  text-align: center;
  width: 70vw;
  color: white;
  font-size: 18px;
  padding: 8px;
  height: 140px;
  display: flex;
  align-items: center;
}

.robotAvatar {
  width: 15vw;
}

.robotFlex {
  display: flex;
  flex-direction: row-reverse;
  width: 90vw;
  align-items: center;
}

.robotDamien {
  color: white;
}

.robotFigure {
  text-align: center;
}

.robotAlign {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(2, 0, 50, 0.8);
  margin-top: 7%;
  border-radius: 30px;
}

.robotBackpage{
  display: block;
  margin: 10px;
	box-shadow:inset 0px 34px 0px -15px #b54b3a;
	background-color:#a73f2d;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}

.robotBackpage:hover {
	background-color:#b34332;
}

.robotBackpageoff{
  display: none;
}
