* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#ALaUneBouton {
  text-decoration: none;
  margin: 1em auto;
  width: 50%;
  text-align: center;
  box-shadow: inset 0px 34px 0px -15px #b54b3a;
  background-color: #a73f2d;
  border: 1px solid #241d13;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #7a2a1d;
}

.journalTitre {
  margin-top: 20px;
}

.journalImage {
  width: 50%;
}

.journalMessage {
  width: 85%;
  text-align: center;
  font-size: 18px;
}

.journalDate {
  font-size: 15px;
  margin-bottom: 20px;
}

.journalContenair,
.journalContenairLoad {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  background-image: url('./src/ciel-etoile.jpg');
  background-attachment: fixed;
}

.journalContenairLoad {
  justify-content: center;
}

.journalContenair {
  border: 1mm solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  margin: 15px 0 0 0;
}

.journalChargement {
  text-align: center;
}

.journalDance {
  width: 50%;
}

.ALaUnebackgroung {
  background-image: url('./src/ciel-etoile.jpg');
  background-attachment: fixed;
  color: white;
  padding: 0.5rem 0 2.5rem 0;
}

@media screen and (min-width: 750px) {
  .journalContenair,
  .journalContenairLoad {
    width: 80vw;
    margin: 15px auto auto auto;
    height: 90vh;
  }

  .journalMessage {
    font-size: 25px;
  }
  .journalDate {
    font-size: 20px;
  }
}
