@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato;
}

h1,
h2 {
  font-family: Orbitron;
}

.culture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.5rem;
}
.culture h2 {
  padding: 1rem;
}

.culture_Movies,
.culture_Horoscope,
.culture_sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 1rem 0;
  margin: 1rem;
  color: white;
}

.culture_Movies,
.culture_Horoscope {
  padding-top: 2em;
  background: url(./ciel-etoile.jpg) no-repeat;
  border-radius: 5px;
}

#slider {
  width: 600%;
  animation-duration: 30s;
  animation-name: slidy;
  animation-iteration-count: infinite;
  display: flex;
}

#cultureContainer {
  width: 80vw;
  overflow: hidden;
}

#slider figure {
  width: 17%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#slider figure >div {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#slider figure > div > p {
  background-color: rgba(2, 0, 50, 0.8);
  width: 85%;
  text-align: justify;
}

@keyframes slidy {
  0% {
    transform: translateX(0vw);
  }
  8.33% {
    transform: translateX(0vw);
  }
  16.66% {
    transform: translateX(-80vw);
  }
  25% {
    transform: translateX(-80vw);
  }
  33.33% {
    transform: translateX(-160vw);
  }
  41.67% {
    transform: translateX(-160vw);
  }
  50% {
    transform: translateX(-240vw);
  }
  58.33% {
    transform: translateX(-240vw);
  }
  66.67% {
    transform: translateX(-320vw);
  }
  75% {
    transform: translateX(-320vw);
  }
  83.33% {
    transform: translateX(-400vw);
  }
  91.67% {
    transform: translateX(-400vw);
  }
}
.culture_Horoscope,
.culture_sign {
  width: 90%;
}
.culture_sign div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;
}

.culture_sign h3 {
  text-align: center;
}
.culture_sign img {
  width: 40%;
  border-radius: 5px;
}

.culture_Horoscope p {
  background: rgba(0, 0, 0, 0.7);
  padding: 1em 0;
  font-size: 1.5rem;
  text-align: center;
}

#signSelect {
  box-shadow: inset 0px 34px 0px -15px #b54b3a;
  background-color: #a73f2d;
  border: 1px solid #241d13;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #7a2a1d;
  border-radius: 5px;
}

.headerContainer {
  position: relative;
  height: 10vh;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 10%, rgba(0, 3, 14) 100%);
}

#mars {
  position: absolute;
  top: 0;
  left: 40%;
  width: 20%;
}

#titre {
  position: absolute;
  width: 57%;
  top: 0;
  left: 22.5%;
}

#NavMenu {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  background: white;
  width: 100%;
  height: 5vh;
  z-index: 100;
}

#menuContent {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  .headerContainer {
    height: 13vh;
  }
  #mars {
    left: 45.5%;
    width: 13vh;
  }
  #titre {
    width: 45%;
    left: 32%;
  }

  #slider figure>div{
    flex-direction: row;
    width: 100%;
  }
  #slider figure>div>img{
    width: 40%;
    padding: 3rem;
  }

  #slider figure>div>p{
    font-size: 0.8rem;
  }

  .culture_Horoscope {
    width: 82%;
  }

  .culture_Horoscope img {
    width: 20%;
  }

  .culture_sign div {
    justify-content: space-around;
  }
}


@media screen and (min-width: 1024px) {

  #mars {
    left: 45.5%;
    width: 13vh;
  }
  #titre {
    width: 18.4%;
    left: 40%;
  }
  #slider figure>div{
    flex-direction: row;
    width: 80%;
  }
  #slider figure>div>*{
    width: 50%;
    padding: 3rem;
  }

  #slider figure>div>p{
    font-size: 1rem;
  }

  .culture_Horoscope {
    width: 82%;
  }

  .culture_Horoscope img {
    width: 20%;
  }

  .culture_sign div {
    justify-content: space-around;
  }
}